#  RETAIL SALES AND PROFITABILITY ANALYTICS

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\visha\Downloads\retail_messy_big_dataset.csv")

df.head()

,Order_ID,Order_Date,Customer_Name,Segment,Region,State,Category,Sub_Category,Sales,Quantity,Discount,Profit
0,797789,2023-06-09,Amit,Corporate,East,Karnataka,Furniture,Phone,37108.245293,2,0.203520,6470.186356
1,952681,2022-01-12,Neha,Corporate,South,Karnataka,Clothing,Chair,13293.796133,1,0.186023,19525.246554
2,960986,2023-01-27,NaN,Corporate,West,Tamil Nadu,Electronics,Phone,26407.232197,1,0.006998,16074.897970
3,208944,2023-02-01,Priya,Home Office,East,Gujarat,Clothing,Chair,14021.706498,5,0.068134,11096.374652
4,827773,2022-10-30,Vishal,Consumer,East,Tamil Nadu,Furniture,Chair,7449.783381,7,0.359345,-1390.920478

In [4]:
df.describe()

            Order_ID         Sales      Quantity      Discount        Profit
count   15200.000000  14901.000000  15200.000000  15200.000000  15002.000000
mean   554557.337961  25078.447303      4.977434      0.249914   7434.684077
std    260169.322096  14329.779675      2.592727      0.144147   7228.434068
min    100037.000000    213.924853      1.000000      0.000145  -4999.605853
25%    330545.750000  12666.049952      3.000000      0.124554   1175.631563
50%    555975.000000  25019.528889      5.000000      0.250573   7317.414524
75%    781506.000000  37411.292257      7.000000      0.374037  13648.147794
max    999993.000000  49993.330136      9.000000      0.499903  19998.394987

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15200 entries, 0 to 15199
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       15200 non-null  int64
 1   Order_Date     15200 non-null  object
 2   Customer_Name  13308 non-null  object
 3   Segment        15200 non-null  object
 4   Region         15200 non-null  object
 5   State          15050 non-null  object
 6   Category       15200 non-null  object
 7   Sub_Category   15200 non-null  object
 8   Sales          14901 non-null  float64
 9   Quantity       15200 non-null  int64
 10  Discount       15200 non-null  float64
 11  Profit         15002 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.4+ MB

In [6]:
df.shape

(15200, 12)

In [7]:
df.isnull().sum()

Order_ID            0
Order_Date          0
Customer_Name    1892
Segment             0
Region              0
State             150
Category            0
Sub_Category        0
Sales             299
Quantity            0
Discount            0
Profit            198
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(200)

In [9]:
df=df.drop_duplicates()

In [10]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ","_")

In [11]:
df.columns

Index(['order_id', 'order_date', 'customer_name', 'segment', 'region', 'state',
       'category', 'sub_category', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [12]:
df['order_date']= pd.to_datetime(df['order_date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 15199
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       15000 non-null  int64
 1   order_date     15000 non-null  datetime64[ns]
 2   customer_name  13132 non-null  object
 3   segment        15000 non-null  object
 4   region         15000 non-null  object
 5   state          14850 non-null  object
 6   category       15000 non-null  object
 7   sub_category   15000 non-null  object
 8   sales          14705 non-null  float64
 9   quantity       15000 non-null  int64
 10  discount       15000 non-null  float64
 11  profit         14803 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 1.5+ MB

In [14]:
df['order_year']= df['order_date'].dt.year
df['order_month']= df['order_date'].dt.month
df['month_name']= df['order_date'].dt.month_name()
df['quarter']= df['order_date'].dt.quarter

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 15199
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       15000 non-null  int64
 1   order_date     15000 non-null  datetime64[ns]
 2   customer_name  13132 non-null  object
 3   segment        15000 non-null  object
 4   region         15000 non-null  object
 5   state          14850 non-null  object
 6   category       15000 non-null  object
 7   sub_category   15000 non-null  object
 8   sales          14705 non-null  float64
 9   quantity       15000 non-null  int64
 10  discount       15000 non-null  float64
 11  profit         14803 non-null  float64
 12  order_year     15000 non-null  int32
 13  order_month    15000 non-null  int32
 14  month_name     15000 non-null  object
 15  quarter        15000 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(3), int64(2), object(7)
memory usage: 1.8+ MB

In [16]:
df.head()

,order_id,order_date,customer_name,segment,region,state,category,sub_category,sales,quantity,discount,profit,order_year,order_month,month_name,quarter
0,797789,2023-06-09,Amit,Corporate,East,Karnataka,Furniture,Phone,37108.245293,2,0.203520,6470.186356,2023,6,June,2
1,952681,2022-01-12,Neha,Corporate,South,Karnataka,Clothing,Chair,13293.796133,1,0.186023,19525.246554,2022,1,January,1
2,960986,2023-01-27,NaN,Corporate,West,Tamil Nadu,Electronics,Phone,26407.232197,1,0.006998,16074.897970,2023,1,January,1
3,208944,2023-02-01,Priya,Home Office,East,Gujarat,Clothing,Chair,14021.706498,5,0.068134,11096.374652,2023,2,February,1
4,827773,2022-10-30,Vishal,Consumer,East,Tamil Nadu,Furniture,Chair,7449.783381,7,0.359345,-1390.920478,2022,10,October,4

In [17]:
df.isnull().sum()

order_id            0
order_date          0
customer_name    1868
segment             0
region              0
state             150
category            0
sub_category        0
sales             295
quantity            0
discount            0
profit            197
order_year          0
order_month         0
month_name          0
quarter             0
dtype: int64

In [18]:
df['customer_name'].fillna("unknown_customer",inplace=True)

In [19]:
df['state'].fillna("unknown",inplace=True)

In [20]:
df['profit'].fillna(df["profit"].median(),inplace=True)

In [21]:
df["month_name"]=df["order_date"].dt.month_name()

In [22]:
df.isnull().sum()

order_id           0
order_date         0
customer_name      0
segment            0
region             0
state              0
category           0
sub_category       0
sales            295
quantity           0
discount           0
profit             0
order_year         0
order_month        0
month_name         0
quarter            0
dtype: int64

In [23]:
df['sales'].fillna(df["sales"].median(),inplace=True)

In [24]:
df['sales'].describe().round(2)

count    15000.00
mean     25086.71
std      14183.65
min        213.92
25%      12929.26
50%      25064.98
75%      37149.04
max      49993.33
Name: sales, dtype: float64

In [25]:
Q1=df["sales"].quantile(0.25)
Q3=df["sales"].quantile(0.75)
IQR=Q3-Q1

lower=Q1-1.5*IQR
upper=Q3+1.5*IQR

len(df[(df["sales"]<lower)  |
(df["sales"]>upper)])

0

In [26]:
#profit margin 
df["profit_margin"]=(df["profit"]/df["sales"])*100

In [27]:
#sales_category
#(low/medium/high)
df["sales_category"]= pd.qcut(df["sales"],     
                     q=3,
labels=["Low","Medium","High"])

In [28]:
df.head()

,order_id,order_date,customer_name,segment,region,state,category,sub_category,sales,quantity,discount,profit,order_year,order_month,month_name,quarter,profit_margin,sales_category
0,797789,2023-06-09,Amit,Corporate,East,Karnataka,Furniture,Phone,37108.245293,2,0.203520,6470.186356,2023,6,June,2,17.435980,High
1,952681,2022-01-12,Neha,Corporate,South,Karnataka,Clothing,Chair,13293.796133,1,0.186023,19525.246554,2022,1,January,1,146.874876,Low
2,960986,2023-01-27,unknown_customer,Corporate,West,Tamil Nadu,Electronics,Phone,26407.232197,1,0.006998,16074.897970,2023,1,January,1,60.873089,Medium
3,208944,2023-02-01,Priya,Home Office,East,Gujarat,Clothing,Chair,14021.706498,5,0.068134,11096.374652,2023,2,February,1,79.137120,Low
4,827773,2022-10-30,Vishal,Consumer,East,Tamil Nadu,Furniture,Chair,7449.783381,7,0.359345,-1390.920478,2022,10,October,4,-18.670616,Low

In [29]:
#discount category
df["discount_categoty"]=np.where(df["discount"]>0.3,"High discount",
                                 "Low Discount")

# Group By

## Total sales by region

In [30]:
df.groupby("region")["sales"].sum().sort_values(ascending=False).astype(float).round(2)

region
North    94793710.88
West     93931520.49
East     93900132.69
South    93675286.43
Name: sales, dtype: float64

## profit by category

In [31]:
df.groupby("category")["profit"].sum().sort_values(ascending=False).astype(float).round(2)

category
Clothing       37800964.53
Furniture      37382417.09
Electronics    36263612.34
Name: profit, dtype: float64

## Sales by segment

In [32]:
df.groupby("segment")["sales"].sum().sort_values(ascending=False).astype(int)

segment
Corporate      129670214
Home Office    124324294
Consumer       122306142
Name: sales, dtype: int64

## Profit margin by sales category

In [33]:
df.groupby('sales_category')["profit_margin"].mean()

C:\Users\visha\AppData\Local\Temp\ipykernel_23924\2900118414.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sales_category')["profit_margin"].mean()

sales_category
Low       181.790556
Medium     30.651432
High       18.230668
Name: profit_margin, dtype: float64

## discount impact on profit

In [34]:
df.groupby("discount_categoty")["profit"].mean().round(2)

discount_categoty
High discount    7314.53
Low Discount     7505.99
Name: profit, dtype: float64

# pivot table

### sales by region and category

In [35]:
pivot1=pd.pivot_table(df,
                      values="sales",
                      index="region",
                      columns="category",
                      aggfunc="sum").round(2)
pivot1

category     Clothing  Electronics    Furniture
region
East      29934874.01  32282102.48  31683156.20
North     32374398.85  31082323.49  31336988.55
South     30570489.20  31684783.63  31420013.60
West      31778742.08  30407077.62  31745700.79

### profit margin pivot

In [36]:
pivot2=pd.pivot_table(df,
                      values="profit_margin",
                      index="segment",
                      columns="sales_category",
                      aggfunc="mean").round(3)
pivot2

C:\Users\visha\AppData\Local\Temp\ipykernel_23924\1073252212.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot2=pd.pivot_table(df,

sales_category      Low  Medium    High
segment
Consumer        173.728  30.697  18.458
Corporate       194.446  30.558  18.231
Home Office     176.794  30.705  18.013

# numpy

In [37]:
df["profit_status"] = np.where(df["profit"]<0,
                               "loss",
                               "profit")

In [38]:
df["large_order"]=np.where(df["sales"]>df["sales"].mean(),
                           "above Average",
                           "below average")

In [39]:
df.head()

,order_id,order_date,customer_name,segment,region,state,category,sub_category,sales,quantity,...,profit,order_year,order_month,month_name,quarter,profit_margin,sales_category,discount_categoty,profit_status,large_order
0,797789,2023-06-09,Amit,Corporate,East,Karnataka,Furniture,Phone,37108.245293,2,...,6470.186356,2023,6,June,2,17.435980,High,Low Discount,profit,above Average
1,952681,2022-01-12,Neha,Corporate,South,Karnataka,Clothing,Chair,13293.796133,1,...,19525.246554,2022,1,January,1,146.874876,Low,Low Discount,profit,below average
2,960986,2023-01-27,unknown_customer,Corporate,West,Tamil Nadu,Electronics,Phone,26407.232197,1,...,16074.897970,2023,1,January,1,60.873089,Medium,Low Discount,profit,above Average
3,208944,2023-02-01,Priya,Home Office,East,Gujarat,Clothing,Chair,14021.706498,5,...,11096.374652,2023,2,February,1,79.137120,Low,Low Discount,profit,below average
4,827773,2022-10-30,Vishal,Consumer,East,Tamil Nadu,Furniture,Chair,7449.783381,7,...,-1390.920478,2022,10,October,4,-18.670616,Low,High discount,loss,below average

# sorting

### top 10 customers by sales

In [40]:
df.groupby("customer_name")["sales"]\
    .sum().round(2)\
    .sort_values(ascending=False)\
    .head(10)

customer_name
Priya               50540437.70
Neha                48568010.47
Sneha               47795287.07
Amit                46868651.01
unknown_customer    46706034.23
Vishal              45345852.58
Rahul               45313470.62
Karan               45162906.80
Name: sales, dtype: float64

### Top 5 loss making orders

In [41]:
df.sort_values("profit").head()

,order_id,order_date,customer_name,segment,region,state,category,sub_category,sales,quantity,...,profit,order_year,order_month,month_name,quarter,profit_margin,sales_category,discount_categoty,profit_status,large_order
13322,594209,2023-04-21,Neha,Corporate,East,Maharashtra,Clothing,Chair,39807.215870,3,...,-4999.605853,2023,4,April,2,-12.559547,High,Low Discount,loss,above Average
1917,718312,2023-05-28,Neha,Consumer,North,Delhi,Electronics,Shirt,5280.781622,8,...,-4997.985352,2023,5,May,2,-94.644803,Low,High discount,loss,below average
14426,104677,2023-05-24,Neha,Corporate,East,Gujarat,Furniture,Laptop,42783.289201,9,...,-4995.317326,2023,5,May,2,-11.675861,High,Low Discount,loss,above Average
10259,276072,2022-04-16,Rahul,Consumer,West,Karnataka,Clothing,Laptop,15124.718037,3,...,-4993.922146,2022,4,April,2,-33.018283,Low,Low Discount,loss,below average
8612,537651,2023-07-13,Vishal,Consumer,West,Karnataka,Furniture,Chair,2939.238220,2,...,-4989.272110,2023,7,July,3,-169.747116,Low,High discount,loss,below average

### bottom 5 customers sales

In [42]:
df.groupby("customer_name")["sales"]\
    .sum().round(2)\
    .sort_values()\
    .head(5)

customer_name
Karan               45162906.80
Rahul               45313470.62
Vishal              45345852.58
unknown_customer    46706034.23
Amit                46868651.01
Name: sales, dtype: float64

In [43]:
df.to_csv("retail_cleaned.csv",index=False)

In [44]:
import os
os.getcwd()

'C:\\Users\\visha'

In [48]:
df.to_csv(r"C:\Users\visha\Downloads\retail_cleaned.csv", index=False)

In [49]:
df.shape

(15000, 21)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 15199
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           15000 non-null  int64
 1   order_date         15000 non-null  datetime64[ns]
 2   customer_name      15000 non-null  object
 3   segment            15000 non-null  object
 4   region             15000 non-null  object
 5   state              15000 non-null  object
 6   category           15000 non-null  object
 7   sub_category       15000 non-null  object
 8   sales              15000 non-null  float64
 9   quantity           15000 non-null  int64
 10  discount           15000 non-null  float64
 11  profit             15000 non-null  float64
 12  order_year         15000 non-null  int32
 13  order_month        15000 non-null  int32
 14  month_name         15000 non-null  object
 15  quarter            15000 non-null  int32
 16  profit_margin      15000 non-null  float64
 17  sales_category     15000 non-null  category
 18  discount_categoty  15000 non-null  object
 19  profit_status      15000 non-null  object
 20  large_order        15000 non-null  object
dtypes: category(1), datetime64[ns](1), float64(4), int32(3), int64(2), object(10)
memory usage: 2.2+ MB